Repository lab-brussels-1/All-About-Trees-Group-3, pull requests merged in 2022-03, with the labels that each got.

#2 adding new information to our page README.md
  README.md
  package-lock.json
  package.json
  planning/retrospective.md
  prettier
Labels: readme

#13 adding photo to planning readme
  assets/planning.png
  planning/README.md
Labels: readme

#18 Description
  planning/backlog.md
  planning/constrain.md
Labels: backlog

#21 joseeupdates
  package-lock.json
  planning/communication.md
  planning/development-strategy.md
  planning/user-persona.md
Labels: planning

#23 new-1
  README.md
Labels: enhancement

#24 solve lint md
  planning/development-strategy.md
Labels: development strategy

#27 Header
  assets/happy-tree.jpeg
  index.html
  styles/something.css
Labels: enhancement, html, css, header

#28 Constraint
  assets/triple.png
  planning/constrain.md
Labels: planning, Constraints

#31 Constraint
  planning/constrain.md
Labels: bug, Constraints

#33 Body intro
  index.html
  styles/something.css
Labels: deliverable, html, css, body

#34 some changes to body introduction
  index.html
  styles/something.css
Labels: deliverable, html, css, body

#36 added the footer
  index.html
Labels: footer

#37 edited retrospective
  planning/retrospective.md
Labels: documentation, Retrospective, md

#38 Design
  planning/design.md
Labels: planning, design, md

#39 adding to retrospective file
  planning/retrospective.md
Labels: planning, Retrospective, md

#35 secondattemptpull
  index.html
Labels: html, css, body

#41 Joseedevelopment
  planning/development-strategy.md
Labels: development strategy, md

#48 Modified
  index.html
  styles/something.css
Labels: design, html, css
